
{% extends "base.html.twig" %}


{% block body %}
    <div class="container">
        <h1 class="mt-5">Connexion</h1>
        {{form_start(login_form, { 'attr' : { 'class': 'mt-4' } })}}
            <div class="mb-3">
                {{form_row(login_form.email)}}
            </div>
            <div class="mb-3">
                {{form_row(login_form.password)}}
            </div>
            <div class="mb-3">
                {{form_row(login_form.submit, { 'attr' : { 'class': 'btn btn-primary mt-2' } })}}
            </div>
        {{form_end(login_form)}}
    </div>
{% endblock %}
